pkgbase = wasi-sdk-bin
	pkgdesc = WASI-enabled WebAssembly C/C++ toolchain
	pkgver = 24.0
	pkgrel = 1
	url = https://github.com/WebAssembly/wasi-sdk
	arch = x86_64
	license = Apache-2.0
	depends = clang
	depends = lld
	options = !strip
	source = https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-24/wasi-sdk-24.0-x86_64-linux.tar.gz
	sha512sums = SKIP

pkgname = wasi-sdk-bin
